$var page_title: 关于

<div class="post_image_wrap" style="height:400px;">
    <span style="background-image:url(/static/public/img/8035266494_0b6220560e_h.jpg)" class="post_image">
        <img style="display:none" alt="" src="/static/public/img/8035266494_0b6220560e_h.jpg">
    </span>
</div>
<h2 style="text-align:center;margin-top:30px;">Biu的介绍</h2>
<div style="text-align:left;margin-top:50px;font-size:14px;padding:0 0 20px 0" class="post_content">
    <p style="padding-top:20px;line-height:1.78;">
在几乎人人都会用手机拍照片的时代，却鲜有人知道著名摄影师Henri Cartier Bresson；连爷爷奶奶都能在电脑上敲敲打打，写出一篇博客，可是又有多少人读过George Orwell的《1984》？——也许你会拿钱钟书先生的“假如你吃了个鸡蛋觉得不错，何必认识那下蛋的母鸡呢”这句话来为自己辩论，可你不是钱钟书。——人们的视线似乎被限制在了网络上各自关注的那群人中，丧失了探索未知领域的好奇心。
<br/><br/>
互联网内容更新越来越快，人们消费信息的速度也越来越快，人心浮躁，甚至都来不及看完一篇超过140字的文章。在不停的刷新页面时，时间已经流逝。几个月前还沸沸扬扬的热点事件，忽然没人再提。我们像狗熊掰玉米一样，掰一个扔一个，最后发现手中空空如也。
<br/><br/>
Biu不想这样。Biu没有follow，没有timeline，没有固定的栏目分类，也没有“猜你喜欢”，如果你也厌倦了这些，如果你也想探出头看看外面的天空，说不定会喜欢上Biu。
<br/><br/>
在Biu，你可以创建你感兴趣的话题，比如一个名为“科幻小说”或者“文艺复兴”的话题，然后你就可以在这个话题下发表“片段”。
<br/><br/>
“片段”就是归属于这个话题下的文章，它可以是一张图片，也可以是一段文字。我们鼓励大家在话题下发布片段。话题就像一颗小树苗，片段就像枝叶，枝叶越是繁茂，树苗越是茁壮。
<br/><br/>
当然，你也可以直接在别人已经创建的话题中发表“片段”。这样通过大家的集体贡献，话题下的内容会越来越丰富。也许哪天你打开自己创建的一个话题时，会惊讶地发现别人已经帮你完成了一部小型的百科全书。
<br/><br/>
如果你觉得某个片段不错，可以点击“喜欢”为它投一票，Biu会根据你的投票以及其他因素对片段进行排列。所以，你的每一票都会影响到片段在话题中的排列顺序，帮助Biu把优质的内容筛选出来，更多的展示给其他人。
<br/><br/><br/>
<h5>Biu背后:</h5>
<br/>
· Biu的原型是<a href="https://www.medium.com">Medium</a><br/><br/>
· Biu是一个设计师用了半年时间学习python的产出物<br/><br/>
· Biu的大部分代码都是在室温只有2℃的深夜完成的<br/><br/>
· Biu是开源的，你可以在<a href="https://github.com/naoyeye/rhinoceros">Github</a>上看到Biu的代码。<br/><br/>




    </p>
</div>

<footer id="home_footer" class="clearfix">
    <div class="pull-right">
        <a href="/about">关于Biu</a>
        <a href="/policy">免责声明</a>
        <a href="/privacy">隐私声明</a>
        <a href="/guideline">使用须知</a>
        <a href="/node/5">博客</a>
    </div>
    <div class="pull-left corpright">
        2013 Copyright &copy;  biubiubiubiu.com
    </div>
</footer>