$var page_title: Blog

<div style="text-align:center;margin-top:50px;font-size:14px;padding:0 0 20px 0">
    <h2>Blog</h2>
    <p style="padding-top:20px;">太忙了，还没来得及写，把程序写完先~~</p>
</div>

<footer id="home_footer" class="clearfix">
    <div class="pull-right">
        <a href="/about">关于Biu</a>
        <a href="/policy">免责声明</a>
        <a href="/privacy">隐私声明</a>
        <a href="/guideline">使用须知</a>
        <a href="/node/5">博客</a>
    </div>
    <div class="pull-left corpright">
        2013 Copyright &copy;  biubiubiubiu.com
    </div>
</footer>