<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>500 - 程序错误 | BiuBiuBiuBiu</title>
<link rel="icon" type="image/png" href="/static/public/img/favicon.png">
<link rel="stylesheet" type="text/css" href="/static/public/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/static/public/css/base.css"/>
<style>
#wrapper{background: url(/static/public/img/error500.jpg) center center no-repeat;background-size: cover;}
#page{height: 100%;background:#999;background: rgba(0,0,0,0.5)}
.container{text-align: center;height: 100%;width: 700px;}
#page h1{margin: 0;margin-top:150px;font-size: 250px;color: rgba(255,255,255,0.5);line-height: 1;}
#page p{color: #fff;font-size: 18px;margin-top: 20px;}
</style>
</head>
<body>
    <div id="wrapper">
        <div id="navbarWrapper">
            <header class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container">
                        <nav>
                            <ul class="nav">
                                <li class="dropdown biu_logo"><a class="dropdown-toggle" href="/" title="首页">Biu</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
        <div id="page">
            <div class="container">
                <h1>500</h1>
                <p>对不起，程序遇到错误。<a href="/">返回首页</a> 或者 给 help@biubiubiubiu.com 提交这个bug</p>

            </div>
        </div>

    </div>
</body>
</html>