$def with (last_users, last_image, authors)
$var page_title: 浏览
$var cssfiles: /static/public/css/player.zen.css
$var jsfiles: /static/public/js/player.jquery.rotate.js /static/public/js/player.jquery.grab.js /static/public/js/player.jquery.jplayer.min.js /static/public/js/player.zen.js

<div style="padding:50px">
    <div id="zen">
        <span class="player"></span>
        <span class="circle"></span>
        <span class="progress"></span>
        <span class="buffer"></span>
        <span class="drag"></span>
        <div class="button">
            <span class="icon play"></span>
            <span class="icon pause"></span>
        </div>
    </div>
</div>




