$var page_title: 使用须知

<div style="text-align:center;margin-top:50px;font-size:14px;padding:0 0 20px 0">
    <h2>使用须知</h2>
    <div style="text-align:left;margin-top:50px;font-size:14px;padding:0 0 20px 0" class="post_content">
    <p style="padding-top:20px;">
        Biu提倡:<br/><br/>
        1. 分享、互助和开放；<br/>
        2. 宽容和理性地对待不同的看法、喜好和意见；<br/>
        3. 尊重他人的隐私和个人空间；<br/>
        4. 尊重原创。<br/><br/><br/>
        Biu不欢迎:<br/><br/>
        1. 针对种族、国家、民族、宗教、性别、年龄、地缘、性取向、生理特征的歧视和仇恨言论；<br/>
        2. 不雅词句、人身攻击、故意骚扰和恶意使用；<br/>
        3. 全文转载任何文章；<br/>
        4. 中文互联网上的无信息量习惯，如“顶”，“沙发”，“前排”，“留名”，“路过”；<br/>
        5. 色情、激进时政、意识形态方面的话题。<br/><br/><br/>
        Biu不允许:<br/><br/>
        1. 违反中国或Biu成员所在地法律法规的行为和内容；<br/>
        2. 威胁他人或Biu成员自身的人身安全、法律安全的行为；<br/>
        3. 对网站的运营安全有潜在威胁的内容。<br/><br/><br/>
        </p>
    </div>
</div>

<footer id="home_footer" class="clearfix">
    <div class="pull-right">
        <a href="/about">关于Biu</a>
        <a href="/policy">免责声明</a>
        <a href="/privacy">隐私声明</a>
        <a href="/guideline">使用须知</a>
        <a href="/node/5">博客</a>
    </div>
    <div class="pull-left corpright">
        2013 Copyright &copy;  biubiubiubiu.com
    </div>
</footer>