$def with(user)
$var page_title:设置密码
$var jsfiles: /static/public/js/Validform_v5.1.js /static/public/js/passwordStrength-min.js
<div class="container" style="padding-top:50px;">
    <h1>设置 - 密码</h1>
    <br/>
    <br/>
    <ul class="nav nav-tabs">
        <li><a href="/settings">个人资料</a></li>
        <li><a href="/settings/email">更改邮箱</a></li>
        <li class="active"><a href="/settings/password">更改密码</a></li>
    </ul>

    <form action="" autocomplete="off" id="setting_pwd_form" class="form-horizontal" method="post" style="width:585px;">
        <div class="control-group">
            <label class="control-label" for="oldPassword">旧密码</label>
            <div class="controls">
                <input name="oldPassword" datatype="*6-16" type="password" id="oldPassword" />
                <!-- <span class="Validform_checktip"></span> -->
            </div>
        </div>
        <div class="control-group" style="position:relative">
            <label class="control-label" for="newPassword">新密码</label>
            <div class="controls">
                <input name="newPassword" plugin="passwordStrength"  datatype="*6-16" type="password" id="newPassword" />
                <span class="Validform_checktip">6-16个字符</span>
                <div class="passwordStrength" style="display:none;"><b>密码强度：</b> <span>弱</span><span>中</span><span class="last">强</span></div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="newPassword2">再输一次新密码</label>
            <div class="controls">
                <input name="newPassword2" datatype="*6-16" recheck="newPassword" nullmsg="请再输入一次密码！" errormsg="您两次输入的账号密码不一致！"  type="password" id="newPassword2" />
                <span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="form-actions">
            <input id="submitComment" type="submit" value="保存" class="btn btn-info"/>
        </div>
    </form>
</div>
<script type="text/javascript">
jQuery(function () {
    var s = 0;
    jQuery("#submitComment").click(function(){
        var email = "$user.email",
            id = "$user.id",
            password = jQuery("#oldPassword").val();
            newPassword = jQuery("#newPassword").val();
        if (newPassword == '' || password == '') {
            //alert("请填写相应信息")
        } else {
            jQuery.ajax({
                type: "POST",
                url : '/settings/password',
                //dataType:"json",
                data: {email: email, id: id, password : password, newPassword : newPassword},
                success: function(msg) {
                    
                    if(msg.status == "n") {
                        if (s == 0){
                            jQuery("#oldPassword").after('<span class="Validform_checktip Validform_wrong">密码输入有误</span>')
                            s = 1;
                        }
                    } else if (msg.status == "y") {
                        if (s == 0){
                            jQuery("#submitComment").after('<span class="Validform_checktip Validform_right">密码修改成功，</span>')
                            s = 1;
                            // window.location.href = "/";
                        }
                        
                    }
                }
            });
        }
        return false;
    })

    jQuery("#setting_pwd_form").Validform({
        datatype:{
            "email":function(gets,obj,curform,regxp){
                /*参数gets是获取到的表单元素值，
                  obj为当前表单元素，
                  curform为当前验证的表单，
                  regxp为内置的一些正则表达式的引用。*/

                var reg1=regxp["e"],
                    //reg2=/[\d]{7}/,
                    currEmail = curform.find("#currEmail");
                    // newEmail  = curform.find("#email");
                
                if(reg1.test(gets) && gets != currEmail.text()){return true;}
                // if(reg2.test(gets)){return true;}
                
                return false;
            },
        },
        tiptype:function(msg,o,cssctl){
            //msg：提示信息;
            //o:{obj:*,type:*,curform:*}, obj指向的是当前验证的表单元素（或表单对象），type指示提示的状态，值为1、2、3、4， 1：正在检测/提交数据，2：通过验证，3：验证失败，4：提示ignore状态, curform为当前form对象;
            //cssctl:内置的提示信息样式控制函数，该函数需传入两个参数：显示提示信息的对象 和 当前提示的状态（既形参o中的type）;
            if(!o.obj.is("form")){//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
                var objtip=o.obj.siblings(".Validform_checktip");
                cssctl(objtip,o.type);
                objtip.text(msg);
            }else{
                var objtip=o.obj.find("#msgdemo");
                cssctl(objtip,o.type);
                objtip.text(msg);
            }
        },
        usePlugin:{
            passwordstrength:{
                minLen:6,//设置密码长度最小值，默认为0;
                maxLen:16,//设置密码长度最大值，默认为30;
                trigger:function(obj,error){
                    //该表单元素的keyup和blur事件会触发该函数的执行;
                    //obj:当前表单元素jquery对象;
                    //error:所设密码是否符合验证要求，验证不能通过error为true，验证通过则为false;
                    
                    //console.log(error);
                    if(error){
                        obj.siblings(".Validform_checktip").css({'display':'inline-block'});
                        obj.siblings(".passwordStrength").hide();
                    }else{
                        obj.siblings(".Validform_checktip").hide();
                        obj.siblings(".passwordStrength").show();   
                    }
                }
            }
        }
    });
})
</script>