$def with(user, msg)
$var page_title:设置邮箱
$var jsfiles: /static/public/js/Validform_v5.1.js
<div class="container" style="padding-top:50px;">
    <h1>设置 - 邮箱</h1>
    <br/>
    <br/>
    <ul class="nav nav-tabs">
        <li><a href="/settings">个人资料</a></li>
        <li class="active"><a href="/settings/email">更改邮箱</a></li>
        <li><a href="/settings/password">更改密码</a></li>
    </ul>

    <form action="/settings/email" id="setting_email_form" class="form-horizontal" method="post" autocomplete="off">
       
        <div class="control-group">
            <label class="control-label">当前邮箱</label>
            <div class="controls">
                <span style="float:left;padding-top:5px;font-size:14px;color:#666;"><b id="currEmail">$user.email</b> - 
                    $:msg
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">新邮箱</label>
            <div class="controls">
                <input name="email" type="text" id="email" datatype="email" nullmsg="请填写" errormsg="请重新检查" />
                <span class="Validform_checktip"></span>
                <span class="help-block">修改邮箱后请在24小时内重新验证您的邮箱</span>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="保存" class="btn btn-info"/>
        </div>
    </form>
</div>
<script type="text/javascript">
jQuery(function () {
    jQuery("#setting_email_form").Validform({
        datatype:{
            "email":function(gets,obj,curform,regxp){
                /*参数gets是获取到的表单元素值，
                  obj为当前表单元素，
                  curform为当前验证的表单，
                  regxp为内置的一些正则表达式的引用。*/

                var reg1=regxp["e"],
                    //reg2=/[\d]{7}/,
                    currEmail = curform.find("#currEmail");
                    // newEmail  = curform.find("#email");
                
                if(reg1.test(gets) && gets != currEmail.text()){return true;}
                // if(reg2.test(gets)){return true;}
                
                return false;
            },
        },
        tiptype:function(msg,o,cssctl){
            //msg：提示信息;
            //o:{obj:*,type:*,curform:*}, obj指向的是当前验证的表单元素（或表单对象），type指示提示的状态，值为1、2、3、4， 1：正在检测/提交数据，2：通过验证，3：验证失败，4：提示ignore状态, curform为当前form对象;
            //cssctl:内置的提示信息样式控制函数，该函数需传入两个参数：显示提示信息的对象 和 当前提示的状态（既形参o中的type）;
            if(!o.obj.is("form")){//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
                var objtip=o.obj.siblings(".Validform_checktip");
                cssctl(objtip,o.type);
                objtip.text(msg);
            }else{
                var objtip=o.obj.find("#msgdemo");
                cssctl(objtip,o.type);
                objtip.text(msg);
            }
        },
    });
})
</script>