$var page_title: 免责声明

<div style="text-align:center;margin-top:50px;font-size:14px;padding:0 0 20px 0">
    <h2>免责声明</h2>
    <div style="text-align:left;margin-top:50px;font-size:14px;padding:0 0 20px 0" class="post_content">
    <p style="padding-top:20px;">
总则
<br/><br/>
　　用户在接受Biu服务之前，请务必仔细阅读本条款并同意本声明。
<br/><br/>
　　用户直接或通过各类方式（如站外API引用等）间接使用Biu服务和数据的行为，都将被视作已无条件接受本声明所涉全部内容；若用户对本声明的任何条款有异议，请停止使用Biu所提供的全部服务。
<br/><br/>
第一条
<br/>
　　用户以各种方式使用Biu服务和数据（包括但不限于发表、宣传介绍、转载、浏览及利用Biu或Biu用户发布内容）的过程中，不得以任何方式利用Biu直接或间接从事违反中国法律、以及社会公德的行为，且用户应当恪守下述承诺：
<br/><br/>
　　1. 发布、转载或提供的内容符合中国法律、社会公德；
<br/>
　　2. 不得干扰、损害和侵犯Biu的各种合法权利与利益；
<br/>
　　3. 遵守Biu以及与之相关的网络服务的协议、指导原则、管理细则等；
<br/><br/>
　　Biu有权对违反上述承诺的内容予以删除。
<br/><br/><br/>

第二条
<br/>
　　1. Biu仅为用户发布的内容提供存储空间，Biu不对用户发表、转载的内容提供任何形式的保证：不保证内容满足您的要求，不保证Biu的服务不会中断。因网络状况、通讯线路、第三方网站或管理部门的要求等任何原因而导致您不能正常使用豆瓣，Biu不承担任何法律责任。
<br/><br/>
　　2. 用户在Biu发表的内容（包含但不限于Biu目前各产品功能里的内容）仅表明其个人的立场和观点，并不代表Biu的立场或观点。作为内容的发表者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任。Biu不承担任何法律及连带责任。
<br/><br/>
　　3. 用户在Biu发布侵犯他人知识产权或其他合法权益的内容，Biu有权予以删除，并保留移交司法机关处理的权利。
<br/><br/>
　　4. 个人或单位如认为Biu上存在侵犯自身合法权益的内容，应准备好具有法律效应的证明材料，及时与Biu取得联系，以便Biu迅速做出处理。
<br/><br/><br/>
附则
<br/><br/>
　　对免责声明的解释、修改及更新权均属于Biu所有。
<br/><br/>
    </p>
</div>
</div>

<footer id="home_footer" class="clearfix">
    <div class="pull-right">
        <a href="/about">关于Biu</a>
        <a href="/policy">免责声明</a>
        <a href="/privacy">隐私声明</a>
        <a href="/guideline">使用须知</a>
        <a href="/node/5">博客</a>
    </div>
    <div class="pull-left corpright">
        2013 Copyright &copy;  biubiubiubiu.com
    </div>
</footer>