$var page_title: 隐私声明

<div style="text-align:center;margin-top:50px;font-size:14px;padding:0 0 20px 0">
    <h2>隐私声明</h2>
    <div style="text-align:left;margin-top:50px;font-size:14px;padding:0 0 20px 0" class="post_content">
    <p style="padding-top:20px;">
　　Biu非常重视对您的个人隐私保护，有时候我们需要某些信息才能为您提供您请求的服务，本隐私声明解释了这些情况下的数据收集和使用情况。<br/><br/>
　　本隐私声明适用于Biu的所有相关服务，随着Biu服务范围的扩大，隐私声明的内容可由Biu随时更新，且毋须另行通知。更新后的隐私声明一旦在网页上公布即有效代替原来的隐私声明。
<br/><br/>
我们收集哪些信息<br/><br/>
　　通常，您能在匿名的状态下访问Biu并获取信息。当我们需要能识别您的个人信息或者可以与您联系的信息时，我们会征求您的同意。通常，在您注册Biu或申请开通新的功能时，我们可能收集这些信息：姓名，Email地址，住址和电话号码，并征求您的确认。
<br/><br/>
关于您的个人信息<br/><br/>
　　Biu严格保护您个人信息的安全。我们使用各种安全技术和程序来保护您的个人信息不被未经授权的访问、使用或泄漏。<br/><br/>
　　Biu会在法律要求或符合Biu的相关服务条款、软件许可使用协议约定的情况下透露您的个人信息，或者有充分理由相信必须这样做才能：(a) 满足法律或行政法规的明文规定，或者符合Biu站适用的法律程序；（b）符合Biu相关服务条款、软件许可使用协议的约定；(c) 保护Biu的权利或财产，以及 (d) 在紧急情况下保护Biu员工、Biu产品或服务的用户或大众的个人安全。<br/><br/>
　　Biu不会未经您的允许将这些信息与第三方共享，本声明已经列出的上述情况除外。
<br/><br/>
Cookie的使用<br/><br/>
　　使用 Cookie 能帮助您实现您的联机体验的个性化，您可以接受或拒绝 Cookie ，大多数 Web 浏览器会自动接受 Cookie，但您通常可根据自己的需要来修改浏览器的设置以拒绝 Cookie。
<br/><br/>
　　Biu有时会使用 Cookie 使您在访问Biu时能得到更好的服务。Cookie不会跟踪个人信息。<br/><br/>
　　当您注册Biu时，Biu亦会使用 Cookie。在这种情况下，Biu会收集并存储有用信息，当您再次访问Biu时，我们可辨认您的身份。来自Biu的 Cookie 只能被Biu读取。<br/><br/>
　　如果您的浏览器被设置为拒绝 Cookie，您仍然能够访问Biu的大多数网页。
<br/><br/>
关于免责说明
<br/><br/>
　　就下列相关事宜的发生，Biu不承担任何法律责任：<br/><br/>
　　　* 由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人信息的泄漏，或其他非因Biu原因导致的个人信息的泄漏；<br/><br/>
　　　* Biu根据法律规定或政府相关政策要求提供您的个人信息；<br/><br/>
　　　* 任何第三方根据Biu各服务条款及声明中所列明的情况使用您的个人信息，由此所产生的纠纷；<br/><br/>
　　　* 任何由于黑客攻击、电脑病毒侵入或政府管制而造成的暂时性网站关闭；<br/><br/>
　　　* 因不可抗力导致的任何后果；<br/><br/>
　　　* Biu在各服务条款及声明中列明的使用方式或免责情形。<br/><br/>
    </p>
    </div>
</div>

<footer id="home_footer" class="clearfix">
    <div class="pull-right">
        <a href="/about">关于Biu</a>
        <a href="/policy">免责声明</a>
        <a href="/privacy">隐私声明</a>
        <a href="/guideline">使用须知</a>
        <a href="/node/5">博客</a>
    </div>
    <div class="pull-left corpright">
        2013 Copyright &copy;  biubiubiubiu.com
    </div>
</footer>