$def with(nodeList, authors, user, rights, apply_log, lastest_posts, datetime)
$var page_title : 首页 - 推荐话题

$var jsfiles: /static/public/js/fancybox/jquery.mousewheel-3.0.6.pack.js /static/public/js/fancybox/jquery.fancybox.pack.js?v=2.1.3  /static/public/js/rec.js

$var cssfiles: /static/public/js/fancybox/jquery.fancybox.css?v=2.1.3

<style>
$if rights > 1:
    #rec_nav .navbar-inner li:nth-last-child(2){margin-right: 50px}
#creatNewNode{position:relative;right: 0}
</style>

<div id="rec_home" style="height:100%">
    <div id="rec_nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="/">推荐片段</a></li>
                    <li class="active"><a href="/node">推荐话题</a></li>
                    $if rights > 1:
                        <li class="onlyAdmin"><a href="/node/all">最新话题 - 仅管理员</a></li>
                        <li class="onlyAdmin"><a href="/post/latest">最新片段 - 仅管理员</a></li>
                </ul>
            </div>
        </div>
<!--         <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">按推荐</a>
            </li>
        </ul> -->
    </div>
    <section class="node_page_content clearfix">
    $if nodeList:
        <ul>
        $for i in xrange(len(nodeList)):
            <li class="node_card_list_item">
                <a href="/node/$nodeList[i].id" title="$nodeList[i].nodeName" class="node_card clearfix">
                    $if nodeList[i].nodeImg:
                        $ url = "/static/upload/node_img" + nodeList[i].nodeImg
                    $else:
                        $ url = "/static/public/img/logo.png"
                    <span class="node_card_image" style="background-image:url($url)"></span>
                    <hgroup>
                        <h2>$nodeList[i].nodeName</h2>
                        <h3>$authors[i].nickname 创建</h3>
                    </hgroup>
                    <ul class="node_card_meta">
                        <li class="node_card_meta_post_count">$nodeList[i].postMount 个片段</li>
                        <li>
                            $ y = datetime.datetime.fromtimestamp(float(lastest_posts[i]))

                            $timestrf(y) 更新
                        </li>
                    </ul>
                </a>
            </li>
        </ul>
    $else:
        <div class="node_empty_border">
            <div class="node_empty">
                <h1>这里还是空的</h1>
            </div>
        </div>
    </section>

    <footer id="home_footer" class="clearfix">
        <div class="pull-right">
            <a href="/about">关于Biu</a>
            <a href="/policy">免责声明</a>
            <a href="/privacy">隐私声明</a>
            <a href="/guideline">使用须知</a>
            <a href="/node/5">博客</a>
            $if user.is_logged:
                $if rights > 1:
                    <a href="/update" style="color:#c00">更新</a>
                    <a href="/admin" style="color:#c00">后台</a>
        </div>
        <div class="pull-left corpright">
            2013 Copyright &copy;  biubiubiubiu.com
        </div>
    </footer>
</div>
$if user.is_logged:
    <!--申请表单 s -->
    <div id="apply_box">
        <div id="apply_box_inner">
            <h4>申请开通权限</h4>
            <form autocomplete='off' id="apply_box_form" action="/account/apply_for_permission">
                <div id="apply_box_avatar"><img src="$user.avatarPath" /></div>
                <div class="controls">
                    <input type="text" class="span4" placeholder="你的邮箱地址，用来接收申请结果" name="email" datatype="e" errormsg=" " nullmsg=" " value="$user.email" /><span class="Validform_checktip"></span>
                </div>
                <div class="controls">
                    <textarea name="reason" class="span4" datatype="*10-300" placeholder="申请理由 10-300字" errormsg=" " nullmsg=" "></textarea><span class="Validform_checktip"></span>
                </div>
                <input type="hidden" name="douban_id" value="$user.douban_id"/>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">好了，提交</button>
                </div>
            </form>
        </div>
    </div>
    <!--申请表单 o -->
<script>
jQuery(function(){
    jQuery('body').css({
        'background':'#EDEDEB'
    })
    jQuery('#main').css({
        'height': '100%'
    })
})
</script>

