$var page_title:更新

<style>
.updateList ol, .updateList li{margin: auto;list-style: decimal}
</style>
<div class="container updateList">
<h4>todo:</h4>
<img src="http://d2tropvyg8ethp.cloudfront.net/pics/frontpage-amelia.jpg#tl-314319359877054465;626328886" width="1225" class="alwaysThinglink" /><script async charset="utf-8" src="//cdn.thinglink.me/jse/embed.js"></script>
<ol>
    <li>提建议功能</li>
    <li>片段评论功能</li>
    <li>提醒功能</li>
    <li>关注某个话题功能</li>
    <li>个人页面</li>
    <li>首页话题推荐中 每个话题的最后更新时间</li>
    <li>"关于"等页面，博客程序</li>
    <li>取消喜欢时的算法还需要改进</li>
    
    <li>修改post时更改模板</li>
    <li>注册/请求频繁时 验证码</li>
    <li>删除图片工具 继续改进</li>
    <li>需要删除发布后模板用的之外的其他图片</li>
    <li>网速慢时切换模板得不到返回来的450图片的高度</li>
    <li>取消添加post时的js判断(数据未保存时)和页面跳转js</li>
    <li>个人页面重构</li>
    <li>xxx推荐了你的文章， xxx在你的话题下发布了文章 - 提醒</li>
    <li>邮箱提醒，邮箱提醒设置</li>
    <li>上传图片、form页面中未保存时关闭、刷新页面需要js提示。</li>
    <li>error404页面设计</li>

<!--     <li>截图工具</li>
    <li>换新图片服务器</li>
    <li>图片 键盘翻页/加喜欢</li>
    <li>图片tag</li>
    <li>图片查看权限</li>
    <li>举报</li>
    <li>邀请</li> -->
    <li>admin后台</li>
    <li>邮箱如果24小时内未验证，无法再重新验证，这时需要给出一个链接 “重新验证”</li>
</ol>

<br/>

<h4>done:</h4>
<ol>
    <li>admin:修改权限后马上生效</li>
    <li>豆瓣登录</li>
    <li>admin取消推荐</li>
    <li>首页话题、节点推荐的排序</li>
    <li>已有图片时，再继续上传，需要把以前的删除;修改图片时需要把以前的旧图片删除。或者以后统一把没用到的图片删除</li>
    <li>node页面的瀑布流/分页</li>
    <li>post的推荐算法、node页面的按推荐、时间排序。</li>
    <li>node页面的每个item都需要判断其模板</li>
    <li>其他2个模板的前台页面</li>
    <li>其他三个模板的页面</li>
    <li>编辑post页面</li>
    <li>话题节点开放设置</li>
    <li>页面跳转 是否把表单页面剥离出来，用css动画实现打开关闭效果?</li>
    <li>node编辑状态切换</li>
    <li>删除node img的处理</li>
    <li>node img 存放位置</li>
    <li>landing页面的忘记密码</li>
    <li>修改昵称时判断时间</li>
    <li>调整更改邮箱、密码、头像 09-16</li>
    <li>邮箱验证 09-15</li>
    <li>喜欢某图片的用户列表页面</li>
    <li>图片查看数</li>
    <li>图片评论/评论数</li>
    <li>前端表单验证</li>
    <li>未登录时的首页设计</li>
    <li>用户简介/网址链接/所在地/性别/职业</li>
</ol>
</div>